<h1 style="text-align:center; margin-top:0px;margin-bottom:45px;font-size:40px;">Contacto</h1>
<form action="#" method="post" style="text-align:center;margin-bottom:29px;">
    <span>Nombre:</span>
    <br>
    <input type="text" name="nombre" id="nombre">
    <br>
    <br>
    <span>Email:</span>
    <br>
    <input type="text" name="email" id="email">
    <br>
    <br>
    <span>Comentario:</span>
    <br>
    <textarea name="coment" cols="30" rows="8" id="coment"></textarea>
</form>